<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Přihlášení</title>
</head>
<body>
<div class="container">
    <header>
        <h1>Přihlášení</h1>
    </header>
    <form id="loginForm">
        <label for="username">
            <input type="text" id="username" placeholder="Uživatelské jméno" required>
        </label>
        <label for="password">
            <input type="password" id="password" placeholder="Heslo" required>
        </label>
        <button type="button" onclick="login()">Přihlásit se</button>
    </form>
</div>
</body>
<script type="application/javascript" src="/js/script.js"></script>
</html>
